footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #333;
    color: #FFF;
    height: 80px;
    align-items: center;
    font-weight: bold;
}
